html,
body {
    height: 100%;
    margin: 0;
    background: url('bck1.jpg') no-repeat center center fixed;
    background-size: cover;
    /* Gör så bilden täcker hela ytan */
}

.center-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.45);
    max-width: 350px;
    width: 100%;
    text-align: center;
}

.subtitle {
    font-size: 12px;
    color: #555;
    margin-bottom: 15px;
}

.terminal-text {
    font-family: 'Courier New', monospace;
    color: #00ff99;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}