html,
body {
    height: 100%;
    margin: 0;
    background: url('bck1.jpg') no-repeat center center fixed;
    background-size: cover;
    /* Gör så bilden täcker hela ytan */
}

.center-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.45);
    max-width: 450px;
    width: 100%;
    text-align: center;
}

.subtitle {
    font-size: 12px;
    color: #555;
    margin-bottom: 15px;
}

.terminal-text {
    background-color: black;
    color: limegreen;
    font-family: monospace;
    padding: 5px;
    width: 100%;
    /* matchar knappen */
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.terminal-text span {
    display: inline-block;
    padding-left: 100%;
    /* Startar utanför till höger */
    animation: ticker 13s linear 1 forwards;
    animation-delay: 1s;
    /* Paus innan start */
}

@keyframes ticker {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Info-ruta */
.info-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #E6F0FA;
    /* Ljusblå bakgrund */
    border-radius: 5px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* matchar loginrutan */
}

.info-text {
    font-size: 0.9rem;
    color: #333;
}

.inmail-link {
    color: #0A66C2;
    text-decoration: none;
    font-weight: bold;
}

.inmail-link:hover {
    text-decoration: underline;
}