body {
    /* background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2); */
    background: url('/assets/bck1.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(118, 166, 237, 0.6);
    backdrop-filter: blur(0px);
    z-index: -1;
}

.title {
    text-align: center;
    color: #022d59;
    margin-top: 40px;
    font-size: 2.5em;
}

.subtitle {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    /* Mer skugga */
    max-width: 350px;
    width: 100%;
    transition: opacity 0.6s ease;
}

.input-field {
    margin-bottom: 15px;
}

.login-btn {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-message {
    margin-top: 10px;
    color: red;
    text-align: center;
}

.info-text {
    text-align: center;
    font-size: 0.9em;
}

.email-link {
    text-align: center;
    display: block;
    color: #0066cc;
    font-weight: bold;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.terminal-typing {
    font-family: 'Courier New', monospace;
    color: #00ff99;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    border-right: 2px solid #00ff99;
    animation:
        typing 2s steps(50, end) forwards,
        blink .7s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 45ch
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #00ff99
    }
}