body {
    /* background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2); */
    background: url('/assets/bck1.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(118, 166, 237, 0.6);
    backdrop-filter: blur(0px);
    z-index: -1;
}

.title {
    text-align: center;
    color: #022d59;
    margin-top: 40px;
    font-size: 2.5em;
}

.subtitle {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    /* Skugga */
}

.login-container:hover {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.35);
    transition: box-shadow 0.3s ease-in-out;
}

.input-field {
    margin-bottom: 15px;
}

.login-btn {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-message {
    margin-top: 10px;
    color: red;
    text-align: center;
}

.info-text {
    text-align: center;
    font-size: 0.9em;
}

.email-link {
    text-align: center;
    display: block;
    color: #0066cc;
    font-weight: bold;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}